<div class="row align-items-center justify-content-center">
<div class = "col-sm-4 bordered">
<h2>Add a new expense</h2>
<form #expenseForm="ngForm" (ngSubmit)="add(expenseForm)">
<div class="form-group">
  <label for="amount">Amount</label>
    <input type="number" [(ngModel)]="expense.amount" placeholder="amount" name="amount" id="amount" class="form-control" required #amount="ngModel">
    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
    class="alert alert-danger">

    <div *ngIf="amount.errors.required">
      Amount is required
    </div>
    </div>
</div>

<div class="form-group">
  <label for="description">Description</label>
    <input [(ngModel)]="expense.description" placeholder="description" name="description" id="description" class="form-control" required #description="ngModel">
    <div *ngIf="description.invalid && (description.dirty || description.touched)"
    class="alert alert-danger">

    <div *ngIf="description.errors.required">
      Description is required.
    </div>
  </div>
</div>

<div class="form-group">
  <label for="category">Category</label>
    <select [(ngModel)]="expense.category" placeholder="category" name="category" id="category" class="form-control" required #category="ngModel">
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
    <div *ngIf="category.invalid && (category.dirty || category.touched)"
    class="alert alert-danger">

    <div *ngIf="category.errors.required">
      Category is required.
    </div>
  </div>
</div>

<div class="form-group">
  <label for="date">Date</label>
<my-date-picker name="date" [options]=""
                    [(ngModel)]="myDate" id="date" #date="ngModel" required></my-date-picker>
<div *ngIf="date.invalid && (date.dirty || date.touched)"
    class="alert alert-danger">

    <div *ngIf="date.errors.required">
      Date is required.
    </div>
  </div>
</div>
<button type="submit" class="btn btn-large btn-success">Save</button>
<button (click)="goBack()" class="btn btn-large btn-warning">Go back</button>
</form>
</div>
</div>